---
title: About Us
layout: default
permalink: /about/
---

.page.page_about
	picture
		source(srcset='{{site.baseurl}}/assets/images/banner_about.webp', type='image/webp')
		source(srcset='{{site.baseurl}}/assets/images/banner_about.png', type='image/png')
		img.banner(src='{{site.baseurl}}/assets/images/banner_about.png')

	p  Family run business situated in the beautiful village of Holyport. We are passionate about serving quality food at a reasonable price coupled with friendly efficient service.


	.grid.c3.g40
		.s1
			picture
				source(srcset='{{site.baseurl}}/assets/images/about/ale.webp', type='image/webp')
				source(srcset='{{site.baseurl}}/assets/images/about/ale.png', type='image/png')
				img.banner(src='{{site.baseurl}}/assets/images/about/ale.png')
			p We stock a wide range of real ales, lager and ciders and offer a  carefully chosen wine list to compliment our food offering.
		.s1
			picture
				source(srcset='{{site.baseurl}}/assets/images/about/fire.webp', type='image/webp')
				source(srcset='{{site.baseurl}}/assets/images/about/fire.png', type='image/png')
				img.banner(src='{{site.baseurl}}/assets/images/about/fire.png')
			p The cosy bar and dining area with log fire is the perfect spot during the winter months to enjoy a family meal.
		.s1
			picture
				source(srcset='{{site.baseurl}}/assets/images/about/out.webp', type='image/webp')
				source(srcset='{{site.baseurl}}/assets/images/about/out.png', type='image/png')
				img.banner(src='{{site.baseurl}}/assets/images/about/out.png')
			p The garden and terrace overlooking the Green comes alive in the warmer months which also features a regular BBQ on a Sunday.
