---
title: Home
layout: default
permalink: /
---

.page.page_home
	picture
		source(srcset='{{site.baseurl}}/assets/images/banner_home.webp', type='image/webp')
		source(srcset='{{site.baseurl}}/assets/images/banner_home.png', type='image/png')
		img.banner(src='{{site.baseurl}}/assets/images/banner_home.png')

	p Whether you wish to relax with friends for a drink or to enjoy the best pub food Holyport has to offer, a warm welcome awaits you at The George on the Green, This 16th century traditional landmark inn sits on the village green in the heart of Holyport, which can be found between Maidenhead and Windsor in a beautiful Berkshire location.

	.grid.c2.g40
		.s1.pod.about
			a(href='{{site.baseurl | prepend:site.url}}/about')
				picture
					source(srcset='{{site.baseurl}}/assets/images/About Pod.webp', type='image/webp')
					source(srcset='{{site.baseurl}}/assets/images/About Pod.png', type='image/png')
					img(src='{{site.baseurl}}/assets/images/About Pod.png')
		.s1.pod.menu
			a(href='{{site.baseurl | prepend:site.url}}/menu')
				picture
					source(srcset='{{site.baseurl}}/assets/images/Food Pod.webp', type='image/webp')
					source(srcset='{{site.baseurl}}/assets/images/Food Pod.png', type='image/png')
					img(src='{{site.baseurl}}/assets/images/Food Pod.png')
		.s1.r2.pod.events
			a(href='{{site.baseurl | prepend:site.url}}/events')
				picture
					source(srcset='{{site.baseurl}}/assets/images/Events Pod.webp', type='image/webp')
					source(srcset='{{site.baseurl}}/assets/images/Events Pod.png', type='image/png')
					img(src='{{site.baseurl}}/assets/images/Events Pod.png')
