.page_events
	.events
		margin-bottom: 40px
		.event
			display: block
			overflow: auto
			text-align: left
			img
				float: left
				margin-right: 30px
				margin-bottom: 20px
				width: 255px
				@media (max-width: $screen-sm)
					width: auto
					display: block
					width: 100%
