
*
	box-sizing: border-box

a
	color: $yellow

.divider
	background: url('../images/divider.svg') center no-repeat
	height: 30px

.grid
	display: grid
	width: 100%
	&.c2
		grid-template-columns: repeat(2, 1fr)
		@media (max-width: $screen-sm)
			grid-template-columns: repeat(1, 1fr)
	&.c3
		grid-template-columns: repeat(3, 1fr)
		@media (max-width: $screen-sm)
			grid-template-columns: repeat(1, 1fr)
	&.c4
		grid-template-columns: repeat(4, 1fr)
		@media (max-width: $screen-sm)
			grid-template-columns: repeat(2, 1fr)
	&.g40
		gap: 2% 3%
	&.g2
		gap: 26px 30px

	@for $i from 1 through 4
		.s#{$i}
			grid-column: span #{$i}
		.r#{$i}
			grid-row: span #{$i}
	img
		width: 100%


h1,h2,h3,h4,h5,h6
	font-weight: 400
	font-family: olondon
	&.normal
		font-family: inherit
h1
	font-size: 222%

body
	padding: 0
	margin: 0
	font-size: 18px
	font-family: 'Noto Sans', sans-serif
	font-weight: 400
	color: $yellow
	background: $green-dark
	text-align: center

.container
	position: relative
	margin: 0 auto
	max-width: 1110px
	width: 100%
	padding: 0 20px

header
	background: $green-light
	padding-top: 19px
	padding-bottom: 19px
	.icon-logo
		text-decoration: none
		color: $yellow
		font-size: 500%
		@media (max-width:  $screen-sm)
			font-size: 400%
	nav.social
		position: absolute
		top: 10px
		right: 10px
		ul
			margin: 0
			padding: 0
			display: flex
			li
				margin: 0 0 0 10px
				padding: 0
				list-style: none
				justify-content: space-around
				a
					text-decoration: none
					font-size: 140%
	.telephone
		position: absolute
		top: 40px
		right: 10px
		text-decoration: none
		@media (max-width: $screen-sm)
			top: auto
			bottom: 0

nav.primary
	font-family: olondon
	.container
		display: flex
		justify-content: space-between
		flex-wrap: wrap
		align-items: center
		.telephone
			font-family: 'Noto Sans', sans-serif
	ul
		margin: 0
		padding: 0
		width: 100%
		display: flex
		justify-content: space-around
		@media (max-width: $screen-sm)
			display: none

		li
			list-style: none
			margin: 0
			padding: 0
			display: inline-block
			@media (max-width:  $screen-sm)
				width: 100%
			a
				display: inline-block
				text-decoration: none
				color: #fff
				font-size: 160%
				padding: 20px 0
				text-align: center
				&:hover
					color: $yellow
					text-decoration: underline
				&.active
					color: $yellow
					text-decoration: underline
				@media (max-width: $screen-sm)
					width: 100%
					padding: 5px 0

	@media (max-width: $screen-sm)
		display: block
		text-align: left

	label.show_menu
		display: none
		font-size: 150%
		margin: 20px 0
		@media (max-width:  $screen-sm)
			display: block

	input[type='checkbox']
		display: none

	input[type='checkbox']:checked ~ ul
		display: block



section
	line-height: 200%
	img.banner
		width: 100%
		display: block

.opening_times
	overflow: auto
	background: $green-light
	padding-top: 60px
	padding-bottom: 60px
	margin-top: 48px
	.times
		.time
			font-size: 70%

footer
	background: $yellow
	.container
		overflow: auto
		display: flex
		justify-content: space-between
		padding-top: 34px
		padding-bottom: 34px
		text-align: right
		@media (max-width: $screen-sm)
			display: block
			text-align: center
		.text
			color: $green-light
			font-size: 70%
			a
				color: $green-light
				&:hover
					color: $green-dark

		.icon-logo
			text-decoration: none
			color: $green-light
			font-size: 500%
			@media (max-width: $screen-sm)
				font-size: 400%

		nav.social
			margin-top: 10px
			ul
				margin: 0
				padding: 0
				display: flex
				justify-content: right
				@media (max-width: $screen-sm)
					justify-content: center
				li
					margin: 0 0 0 30px
					padding: 0
					list-style: none
					display: inline-block
					a.icon
						display: inline-block
						color: $green-light
						text-decoration: none
						font-size: 140%

.mobile_show
	display: none
@media (max-width: $screen-sm)
	.mobile_hide
		display: none
	.mobile_show
		display: inline-block

@font-face
	font-family: 'olondon'
	src: url('../fonts/OldLondon.woff2') format('woff2'), url('../fonts/OldLondon.woff') format('woff')
	font-weight: normal
	font-style: normal
	font-display: swap
