.page_home
	.pod
		a
			display: inline-block
		&.about
			grid-column: 1
			grid-row: 1
		&.menu
			grid-column: 1
			grid-row: 2
		&.events
			grid-column: 2
			grid-row: 1 / 3
			@media (max-width: $screen-sm)
				grid-column: 1
				grid-row: 3
