@font-face {
	font-family: "<%= fontName %>";
	src: url('<%= fontPath %><%= fontName %>.woff2<%= cacheBusterQueryString %>') format('woff2'), 
		url('<%= fontPath %><%= fontName %>.woff<%= cacheBusterQueryString %>') format('woff'), 
		url('<%= fontPath %><%= fontName %>.ttf<%= cacheBusterQueryString %>') format('truetype');
}

.<%= cssClass %>:before {
	font-family: "<%= fontName %>";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
}

<% _.each(glyphs, function(glyph) { %>.<%= cssClass %>-<%= glyph.fileName %>:before { content: "\<%= glyph.codePoint %>" }
<% }); %>
